In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

In [2]:
# reading the data set
df = pd.read_excel("input/palmer_penguins.xlsx")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [3]:
# remove rows containing NaN
df = df[(~np.isnan(df.flipper_length_mm)) & (~np.isnan(df.body_mass_g))]
df.shape

(342, 8)

In [4]:
# split the data into Predictor (X) and Target (y) variables
X = np.array(df.body_mass_g).reshape(-1, 1)
y = np.array(df.flipper_length_mm).reshape(-1, 1)

In [5]:
# split the data into test and train sets
x_train, x_test, y_train, y_test = train_test_split(X, y, stratify=df.species, random_state=123, test_size=.2)

In [9]:
# finding the best alpha for the model
alpha_values = [0.1, 1, 10, 100, 1000]
scores = []
for alpha in alpha_values:
    ridge = Ridge(alpha=alpha)
    ridge.fit(x_train, y_train)
    y_predict = ridge.predict(x_test)
    scores.append(ridge.score(x_test, y_test))

print(scores)

[0.778535192950479, 0.7785351928590304, 0.7785351919445408, 0.7785351827994397, 0.778535091327938]