In [43]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
import numpy as np

In [44]:
# read the data set
penguins_df = pd.read_excel("input/palmer_penguins.xlsx")

In [45]:
# recode the target variable
penguins_df.loc[penguins_df.species == "Adelie", "species_recoded"] = 1
penguins_df.loc[penguins_df.species == "Gentoo", "species_recoded"] = 2
penguins_df.loc[penguins_df.species == "Chinstrap", "species_recoded"] = 3

# removing the rows containing NA (especially in feature columns that will be fitted to model)
penguins_df = penguins_df[~(np.isnan(penguins_df.flipper_length_mm)) & ~(np.isnan(penguins_df.body_mass_g))]

In [46]:
penguins_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,species_recoded
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,1.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,1.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,1.0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,1.0
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007,1.0
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,3.0
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.0
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.0
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,3.0
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.0

In [42]:
# split the data set to test and train

0      False
1      False
2      False
3       True
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [40]:
# instantiating the model

nan